<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <th>User ID</th><th>이름</th><th>나이</th><th>성별</th><th>기능</th>
    </thead>
    <tbody>
        <tr th:each="member: ${members}">
            <td th:text="${member.userId}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:if="${member.gender}">
                <img src="img/male.jpg" width="30" height="30" />
            </td>
            <td th:unless="${member.gender}">
                <img src="img/female.jpg" width="30" height="30" />
            </td>
            <td>
                <a th:href="|/memberread?userId=${member.userId}|">읽기</a>
                <a th:href="|/memberdelete?userId=${member.userId}|">삭제</a>
            </td>
        </tr>
    </tbody>
</table>
<table border="1">
    <thead>
    <th>성별</th>
    </thead>
    <td>
        <a th:href="|/membergender?gender=true|">남</a>
        <a th:href="|/membergender?gender=false|">여</a>
    </td>

</table>


</body>
</html>