<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <h2> 질문1: [[ ${question0}]]</h2>
    <img th:src="${question_image0}"> <br/>
    정답은 무엇입니까? <input type="text">
  </div>

  <div>
    <h2> 질문2: [[ ${question1}]]</h2>
    <img th:src="${question_image1}"> <br/>
    정답은 무엇입니까? <input type="text">
  </div>

  <div>
    <h2> 질문3: [[ ${question2}]]</h2>
    <img th:src="${question_image2}"> <br/>
    정답은 무엇입니까? <input type="text">
  </div>

</body>
</html>